/* Grunddefinition der Farben */
:root {
    --grey: #c7b1b1;
    --white: #ffeaea;
    --black: #272727;
    --red: #831d17;
    --blue: #0A3F86;
    --redHSV: #e40000;
}

/* Formatierung und Gestaltung der Website, der einzelnen Container, Schriften etc. */
.header-image{
    width: 100%;
    height: 600px;
    object-fit: cover;
    display: block ;   
}

.image-container {
    padding: 16px;
    background-color: var(--white);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text-container {
    display: flex;
    margin-top: 16px;
    justify-content: space-between;
    padding-right: 50%;
    font-size: 25px;
}

.time-container{
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    size: 100%;
}

.maps-frame{
    border: 0;
    height: 350px;
    width: 100%;
    margin-top: 16px;
    background-color: var(--white);
    padding: 10px;
}

.infoimage-container {
    padding: 16px;
    background-color: var(--white);
}

.projekt-image{
    width: 100%;
    height: 600px;
    object-fit: cover;
    display: block ;      
}

.red{
    color: var(--redHSV);
}

/* Definition wie alle <a...> Befehle dargestellt werden sollen */
a {
    color: var(--red);
    text-decoration: none;
    margin-left: 10px;
    font-weight: bold;
}

/*Definieren was passiert wenn man Ã¼ber eingebunde Links hovert  */
    a:hover {
        text-decoration: underline;    
    }   

/* Definition wie der Helle-Modus aussehen soll */
.light-theme {
    --bg: var(--grey);
    --fontColor: var(--black);
    --btnBg: var(--grey);
    --btnFontColor:var(--grey);
}

/* Definition wie der Helle-Modus aussehen soll HSV-Seite */
.light-themeHSV {
    --bg: var(--blue);
    --fontColor: var(--white);
    --btnBg1: var(--blue);
    --btnFontColor: var(--grey);
}

/* Definition wie der Dunkle-Modus aussehen soll */
.dark-theme {
    --bg: var(--black);
    --fontColor: var(--white);
    --btnBg: var(--black);
    --btnFontColor:var(--black);
}
/* Definition wie der Dunkle-Modus aussehen soll HSV-Seite */
.dark-themeHSV {
    --bg: var(--black);
    --fontColor: var(--white);
    --btnBg1: var(--black);
    --btnFontColor:var(--black);
}
/*Definition Design aller ELemente*/
* {
    color: var(--fontColor);
    font-family: Arial;
}

/* aussehen des "Body's" der HTML Seite */
body{
    background: var(--bg);
    padding-left: 100px;
    padding-right: 100px;
    font-family: Arial;
}

/* Aussehen des Buttons */
.btn {
    border-radius: 0%;
    border: none;
    color: var(--red);
    background-color: var(--btnBg);
    margin-left:  5px;
}

/* Aussehen des Buttons */
.btnHSV {
    border-radius: 0%;
    border: none;
    color: var(--redHSV);
    background-color: var(--btnBg);
    margin-left:  5px;
}
/* Entfernen des Rahmens um den Dark-Mode-Button */
.btn:focus { outline-style: none; }
